
body{
    text-shadow:-0.5px 0px 0px #dddddd;
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 2px;
}
.col-10{
    padding: 0px;
}
.col-8{
    padding: 0px;
}
.container{
    max-width: 720px;
}
/* header top style*/
.header-top{
    margin-top: 15px;
    margin-bottom: 15px;
}
.status-text{
    display: block;
    padding-left: 109px;
}
.name-job{
    display: block;
    padding-left: 114px;
}
.image-logo{
    position: absolute;
    z-index: 1;
}
.header-top p{
    margin-bottom: 5px;
    color: #c6c6c6;
    font-size: 12px;
}
.status{
    position: relative;
    font-size: 14px;
    background:#fffbc8;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #eeebd7;
    min-height: 53px;
    
}

.status::after{
    content:' ';
    position: absolute;
    background:url('../img/photo.png') no-repeat;
    width: 125px;
    height: 125px;
    bottom: -18px;
    left: -15px;
}
.services{
    display: flex;
}
.services p {
    margin-bottom: 3px;
}
.services p:last-child{
    margin-bottom: 15px;
}
.green-line{
    margin-top:15px;
    padding-left: 6px;
    background: linear-gradient(to right, #B1E19B, #B1E19B) no-repeat;
    background-size: 219px;
}
.blue-line{
    background: linear-gradient(to right, #ACE2F8, #ACE2F8) no-repeat;
    background-size: 56px;
    padding-left: 6px;

}
.blue-line-hotel{
    background: linear-gradient(to right, #ACE2F8, #ACE2F8) no-repeat;
    background-size: 36px;
    padding-left: 6px;
}
.top-margin-service-number{
    margin-top: 15px;
}

.reviews{
    position: relative;
}
.reviews h4{
    display: inline-flex;
}
.reviews::before{
    content:'131';
    position: absolute;
    background:url('../img/like.png') no-repeat;
    width: 40px;
    height: 20px;
    right: 90px;
    text-align: end;
    font-size: 12px;
    background-position-y: 4px;
}
.reviews::after{
    content:'14';
    position: absolute;
    background:url('../img/coments.png') no-repeat;
    width: 40px;
    height: 20px;
    right: 12px;
    text-align: end;
    font-size: 12px;
    background-position-y: 4px;
}
.reviews a{
    margin-left: 10px;
    text-decoration: underline;
    font-weight: 400;
    color: #005DA1;
}

.services{
    padding: 0px;
    border-top: 1px solid #c6c6c6 ;
    border-bottom: 1px solid #c6c6c6 ;
}
.services .col-8{
    padding: 0px;
}
.services-all{
    margin-top: 15px;
    display: flex;
    margin-bottom: 15px;
}
.services-all .col-2{
    margin-left: 15px;
}

.coments-text{
    padding: 17px;
    background:#f2fbff;
    border: 1px solid #eaedef;
    margin-top: 15px;
    margin-bottom: 5px;
    position: relative;
}
.coments-text:after{
    content: '';
    border: solid transparent;
    position: absolute;
    left: 6%;
    margin-left: -12px;
    top: -16px;
    width: 0;
}
.coments-text:before {
   content: '';
   border: solid transparent;
   position: absolute;
   left: 5.4%;
   margin-left: -12px;
   top: -17px;
   width: 0;
}
.coments-text:before {
    border-left-color: #eaedef;
    border-width: 16px;
 }
 .coments-text:after {
    border-left-color: #f2fbff;
    border-width: 16px;
    margin-left: -17px;
 }
 .block-coments{
     position: relative;
 }
 .block-coments:before{
    content: '';
    border: solid transparent;
    position: absolute;
    left: 5.4%;
    margin-left: -13px;
    top: 22px;
    width: 0;
 }
 .block-coments:before {
    border-left-color: #eaedef;
    border-width: 16px;
 }

.name{
    display: inline-block;
}

.date{
    margin-left: 15px;
    color: #d4d4d4;
    font-size: 14px;
}


footer{
    background: #f2f2f2;
}
.write-to-a-consultant-text{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 24px;
}
.write-to-a-consultant-text textarea{
    width: 100%;
    height: 100%;
    max-width: 540px;
    min-height: 64px;
    border: 1px solid #a9a9a9;
}

.write-to-a-consultant{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.write-to-a-consultant input{
    padding: 15px 58px;
    border-radius: 30px;
    background:#fdd639;
    border: none;
    font-weight: bold;
}

.write-to-a-consultant input:focus{
    border:none;
    outline: none;
}

@media (max-width: 575.98px) { 

    .write-to-a-consultant input{
        padding: 15px 50px;
    }
    .change-offset{
        margin-left: 79%;;
    }
    .reviews h4{
        display: flex;
        flex-direction: column-reverse;
    }
    .reviews a{
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .reviews::after{
        top: 0;
    }
}

